body {
    background-color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.349);
    margin: 0 auto;
    width: 400px;
    margin-top: 50px;
    text-align: center;
}
h1 {
    text-align: center;
}
input[type="password"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #000000be;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #000000;
}
#message {
    text-align: center;
    margin-top: 20px;
}